<!--
# <h1>Users#new</h1>
# <p>Find me in app/views/users/new.html.erb</p>


# below it changes from Listing 5.46:

# same line here as line 15, but it can not be hashed, so i deleted it
# <h1>Sign up</h1>
# <p>This will be a signup page for new users.</p>

# below is changes from Listing 7.15:
-->

<% provide(:title, 'Sign up') %>
<h1>Sign up</h1>

<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <%= form_for(@user, url: signup_path) do |f| %>
            <%= render 'shared/error_messages' %>

            <%= f.label :name %>
            <%= f.text_field :name, class: 'form-control' %>
            
            <%= f.label :email %>
            <%= f.email_field :email, class: 'form-control' %>
            
            <%= f.label :password %>
            <%= f.password_field :password, class: 'form-control' %>
            
            <%= f.label :password_confirmation, "Confirmation" %>
            <%= f.password_field :password_confirmation, class: 'form-control' %>
            
            <%= f.submit "Create my account", class: "btn btn-primary" %>
        <% end %>
    </div>
</div>
